/* buttons */

.button {
	text-decoration: none;
	background-color: #FF563A;
	color: white;
	font-family: "Montserrat", sans-serif;
	padding: 0.7rem 1.8rem;
	position: relative;
	min-width: 10rem;
	transition: all 300ms;
	display: inline-block;
	text-align: center;
	border: 0;
	border-radius: 100px;
}

	.button:hover {
		background-color: #FF563A;
	}

.button--alt {
	background-color: white;
	border: 1px solid #FF563A;
	font-family: "Montserrat", sans-serif;
	color: #FF563A;
}

	.button--alt:hover {
		color: white;
	}

.button--narrow {
	width: auto;
	min-width: 0;
}

.button--block {
	width: 100%;
}

/* button group */

.button-group {
	display: block;
}

	.button-group .button {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
