/* main css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  width: 100%;
}

.student-social {
  display: -ms-flexbox;
  display: flex;
}
.headshot-detail a {
  background-color: #FF563A;
  color: #fff;
  border-radius: 100%;
  width: 2.5rem;
  padding: 0.5rem 0.2rem;
  text-align: center;
  height: 2.5rem;
  text-decoration: none;
  display: block;
  margin-right: 1rem;
}
.headshot-detail a:last-of-type {
  margin-right: 0;
}
.headshot-detail a i {
  font-size: 1.5rem;
}
.headshot-detail a i.fa-linkedin {
  position: relative;
  left: 0.05rem;
}
.headshot-detail a i.fa-github {
  position: relative;
  left: 0.02rem;
}
.headshot-detail a i.fas {
  top: 0.015rem;
  color: #fff !important;
}
.headshot-detail a i.fa-linkedin {
  top: 0.01rem;
}
.headshot-detail a:hover {
  background-color: #50ABC4;
  color: #fff;
}